server:
  port: 8080
spring:
  application:
    name: opex-matching-gateway
  main:
    allow-bean-definition-overriding: false
  kafka:
    bootstrap-servers: ${KAFKA_IP_PORT:localhost:9092}
    consumer:
      group-id: gateway
  r2dbc:
    url: r2dbc:postgresql://${DB_IP_PORT:localhost}/opex
    username: ${dbusername:opex}
    password: ${DB_PASS:hiopex}
    initialization-mode: always
    pool:
      enabled: true
      initial-size: 5
      max-size: 20
      max-idle-time: 60s
      validation-query: SELECT 1
  cloud:
    bootstrap:
      enabled: true
    vault:
      host: ${VAULT_HOST}
      port: 8200
      scheme: http
      authentication: APPID
      app-id:
        user-id: co.nilin.opex.matching.gateway.app.utils.VaultUserIdMechanism
      fail-fast: true
      kv:
        enabled: true
        backend: secret
        profile-separator: '/'
        application-name: ${spring.application.name}
    consul:
      host: ${CONSUL_HOST:localhost}
      port: 8500
      discovery:
        #healthCheckPath: ${management.context-path}/health
        instance-id: ${spring.application.name}:${server.port}
        healthCheckInterval: 20s
        prefer-ip-address: true
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: [ "health", "prometheus", "metrics" ]
  endpoint:
    health:
      show-details: when_authorized
    metrics:
      enabled: true
    prometheus:
      enabled: true
logbook:
  secure-filter:
    enabled: true
  format:
    style: http
  filter:
    enabled: true
    form-request-mode: BODY
  attribute-extractors:
    - type: JwtFirstMatchingClaimExtractor
      claim-names: [ "sub", "subject" ]
  obfuscate:
    headers:
      - Authorization
    parameters:
      - password
    json-body-fields:
      - password
    replacement: "***"
  write:
    max-body-size: 10_000 #kb
  predicate:
    exclude:
      - path: /auth**
      - path: /actuator/**
      - path: /swagger**
logging:
  level:
    co.nilin: INFO
    org.zalando.logbook: TRACE
app:
  symbols: ${SYMBOLS}
  accountant:
    url: lb://opex-accountant
  auth:
    cert-url: http://keycloak:8080/realms/opex/protocol/openid-connect/certs
  custom-message:
    enabled: ${CUSTOM_MESSAGE_ENABLED:false}
    base-url: ${CUSTOM_MESSAGE_URL}
swagger:
  authUrl: ${SWAGGER_AUTH_URL:https://api.opex.dev/auth}/realms/opex/protocol/openid-connect/token}


