server:
  port: 8080
spring:
  application:
    name: opex-otp
  r2dbc:
    url: r2dbc:postgresql://${DB_IP_PORT:localhost}/opex
    username: ${DB_USER}
    password: ${DB_PASS}
    initialization-mode: always
  cloud:
    bootstrap:
      enabled: true
    consul:
      host: ${CONSUL_HOST:localhost}
      port: 8500
      discovery:
        #healthCheckPath: ${management.context-path}/health
        instance-id: ${spring.application.name}:${server.port}
        healthCheckInterval: 20s
        prefer-ip-address: true
management:
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: [ "health", "prometheus", "metrics", "logging" ]
  endpoint:
    health:
      show-details: when_authorized
    metrics:
      enabled: true
    prometheus:
      enabled: true
logging:
  level:
    co.nilin: INFO
    # org.zalando.logbook: TRACE
app:
  auth:
    cert-url: http://keycloak:8080/realms/opex/protocol/openid-connect/certs
otp:
  sms:
    provider:
      url: ${SMS_PROVIDER_URL}
      api-key: ${SMS_PROVIDER_API_KEY}
      template: ${SMS_PROVIDER_TEMPLATE}
  email:
    host: ${SMTP_HOST}
    port: ${SMTP_PORT}
    username: ${SMTP_USER}
    password: ${SMTP_PASS}
    from: ${SMTP_FROM}
  custom-message:
    enabled: ${CUSTOM_MESSAGE_ENABLED:false}
    base-url: ${CUSTOM_MESSAGE_URL}
