name: Build and test on pull request

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        java: [ 17 ]
    name: Build OPEX and run tests with java ${{ matrix.java }}
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v2
        with:
          distribution: 'adopt'
          java-package: jdk
          java-version: ${{ matrix.java }}
#          cache: maven
      - name: Build
        run: mvn -B -T 1C clean install -Potc
      - name: Run Tests
        run: mvn -B -T 1C -Dskip.unit.tests=false surefire:test
      - name: Build Docker images
        env:
          TAG: latest
        run: docker-compose -f docker-compose.build.yml build
