name: Build and test on pull request

on:
  pull_request:
    types: [ opened, synchronize, reopened ]

jobs:
  build:
    runs-on: ubuntu-22.04
    strategy:
      matrix:
        java: [ 21 ]
    name: Build OPEX and run tests with java ${{ matrix.java }}
    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v2
      - name: Setup Java
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: ${{ matrix.java }}
      - name: Build
        run: mvn -B clean install -Potc
      - name: Run Tests
        run: mvn -B -Dskip.unit.tests=false surefire:test

      - name: Build Docker images
        env:
          TAG: pr
        run: docker compose -f docker-compose.build.yml build